@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Di global.css */
html, body {
  overflow-x: hidden; /* Boleh ada */
  overflow-y: auto; /* Pastikan ini */
  height: 100%; /* Optional */
}

body {
  position: relative; /* Penting untuk layout */
}

html {
  scroll-behavior: smooth;
}